body{
    background-color: white;
    /*background-image: url("./assets/icon.png");*/
}

#navbar{
    background-color: #2EC4B6;
    color: white;
}

.nav-link{
    color: black;
}

.entry{
    box-shadow: 2px 2px 2px #FF9F1C;
    margin-bottom: 10px;
}

#AddFormTitle,
#AddFormDescription{

}

#TextAreaPropDesc,
#TextAreaPropIng{
    height: 150px;
}

#FavoriteTag{
    margin-bottom: 10px;
}

.Button{
    background-color: white;
    color: black;
    box-shadow: 2px 2px 2px #FF9F1C;
}